@page "/sd_navbar"
@using MatBlazor;
@using Plana.Web.Pages.plan.study_director;

@inherits EditPlanBase


<h3>Assignment plan for </h3>
<div class="topnav" id="topnav" style="position: relative;top: 0px;">

    <div style="overflow:auto;">
        <div class="navbar-toggler w3-left" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon">
                <img src="/images/toggler.JPG" />
            </span>

        </div>
        <div class="search" style="overflow:hidden;height:60px">
            <Plana.Web.Pages.template_components.Search />
        </div>
        @*here shall be  the select drop-down  *@
        <div class="selectYear">
            <Plana.Web.Pages.template_components.CustomSelect />
        </div>
        <div class="avatar w3-right">
            <a href="/myaccount">
                <img src="/images/avatar.png" class="img-fluid" />
            </a>
        </div>
        <div class="logo-image  w3-right">
            <a href="/home">
                <img src="/images/logo.png" class="img-fluid" />
            </a>


        </div>
        <div class="btn-group">
            <button @onclick="@navigateToModulesPlan">Modules Plan </button>
            <button @onclick="@navigateToLecturersPlan">Lecturers Plan</button>
            <button @onclick="@(e=>OpenDialog(false))">Make new Plan</button>
        </div>

    </div>
    @*dialog for make new plan*@
    <!--<MatButton Outlined="true" @onclick="@(e=>OpenDialog(false))">Add Employee</MatButton>
    <hr />
    <MatDialog @bind-IsOpen="dialogIsOpen">
        <MatDialogTitle>Add Plan</MatDialogTitle>
        <MatDialogContent>-->
            @*@if(planNew == null)*@
            <!--{
            <MatTextField Label="Plan Year" @bind-Value="@planNew.Year"></MatTextField>
            <MatTextField Label="Plan isFixed" @bind-Value="@planNew.IsFixed"></MatTextField>
            <MatTextField Label="Autumn Semester" @bind-Value="@planNew.AutumnSemester.Code"></MatTextField>
            <MatTextField Label="Spring Semester" @bind-Value="@planNew.SpringSemester.Code"></MatTextField>
            }
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="okClick">Add</MatButton>
            <MatButton OnClick="CloseDialog">Close</MatButton>

        </MatDialogActions>
    </MatDialog>-->
    


    <div class="@openVerticalMenu" style="width:55%" @onclick="ToggleNavMenu">
        <div class="vertical-menu">
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/sd_NewPlan" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Make new plan
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/home">
                        <span class="" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
            </ul>
            @*<a href="#" class="active">Home</a>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>*@
        </div>
    </div>
</div>
@code {

    [Inject]
    public NavigationManager navigationManager { get; set; }
    /** nav menu*/
    private bool verticalMenu = true;

    private string openVerticalMenu => verticalMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        verticalMenu = !verticalMenu;
    }
    #region button methods

    protected void navigateToModulesPlan()
    {
        navigationManager.NavigateTo("/sd_modulesPlan", true);

    }
    protected void navigateToLecturersPlan()
    {
        navigationManager.NavigateTo("/sd_lecturersPlan", true);

    }
    protected void navigateToMyAccount()
    {
        navigationManager.NavigateTo("/myAccount", true);

    }
    #endregion

    /** make new plan*/
    public IPlanService TPlanService { get; set; }

    Plan planNew = new Plan();
    Plan selectedPlan = null;
    Plan tempPlan = null;
    bool dialogIsOpen = false;
    bool _isEdit = false;

    bool snackBar = false;
    //List<Plan> Plans = PlanService.GetPlans().ToList();










    #region Methods

    #endregion

    #region Dialog Box Methods
    private void OpenDialog(bool isEdit)
    {
        //_isEdit = isEdit;
        //if (!_isEdit) plan = new Plan();
        planNew = new Plan();
        dialogIsOpen = true;
    }
    private async void okClick()
    {
        dialogIsOpen = false;
        await this.HandleValidSubmit();
    }
    private void CloseDialog()
    {
        dialogIsOpen = false;
        if (selectedPlan != null)
        {
            planNew = selectedPlan;

        }
    }
    #endregion


}
<style>
    .topnav {
        position: relative;
        background-color: #f2f2f2;
        /*width: 80%;*/
        letter-spacing: 1px;
        height: 100px;
    }

    .w3-bar {
        width: 100%;
        height: 120px;
        overflow: hidden;
    }

    .w3-right {
        float: right !important;
    }

    .w3-left {
        float: left !important;
    }
    /*               sider **/
    .vertical-menu {
        /* width: 200px;*/
        float: left;
        position: sticky;
    }


        .vertical-menu a {
            /*  background-color: #eee;*/
            color: black;
            display: block;
            padding: 12px;
            text-decoration: none;
        }

            /* .vertical-menu a:hover {
                background-color: #ccc;
            }*/

            .vertical-menu a.active {
                background-color: white;
                color: white;
            }

    .navbar-toggler-icon {
        width: 46px;
        height: 35px;
        overflow: hidden;
        margin-left: 30px;
        /*  margin-top: -20px;*/
    }

    .vertical-menu .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .vertical-menu .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .vertical-menu .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .vertical-menu .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .vertical-menu .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .vertical-menu .nav-item a.active {
                /* background-color: rgba(255,255,255,0.25);
                color: white;*/
                color: #FFD700;
            }

            .vertical-menu .nav-item a:hover {
                background-color: #fff;
                color: #43427d;
            }

    .search {
        border: none;
        color: rgba(0,0,0,.87);
        display: flex;
        font-size: 16px;
    }

    .matList {
    }

    /*button style*/
    .btn-group button {
        background-color: #f2f2f2; /* Green background */
        border: 1px solid rgb(26, 79, 238); /* Green border */
        color: #333333; /* White text */
        display: flex;
        font-size: 16px;
        font-family: 'ArialMT', 'Arial';
        padding: 10px 5px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        float: left; /* Float the buttons side by side */
        border-radius: 12px;
        margin: 4px 8px;
        width: 140px;
        height: 40px;
        position: center;
    }

        .btn-group button:not(:last-child) {
            border-right: none; /* Prevent double borders */
        }

    /* Clear floats (clearfix hack) */
    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }

    /* Add a background color on hover */
    .btn-group button:hover {
        /*background-color:azure;*/
        color: goldenrod;
    }

    /*avatar*/
    .avatar {
        width: 94px;
        height: 61px;
        /*border-radius: 50%;*/
        overflow: hidden;
        margin-top: -45px;
        /* position: fixed;*/
    }

    /**  mat select item*/
    .my-item-class {
        width: 100%;
        text-align: center;
    }
    /** dropdown select*/
    .selectYear {
        border-width: 0px;
        position: absolute;
        left: 399px;
        top: 41px;
        width: 177px;
        height: 37px;
        display: flex;
        color: #000000;
        text-align: left;
    }
</style>