@page "/editsemester/{Id}"

@using MatBlazor;

@inherits EditSemesterBase
@if (Semesters == null || Semester == null) { return; }



<h2>
    @Semester.Code
</h2>
<EditForm Model="@Semester" OnValidSubmit="HandleValidSubmit">
    <label for="code">Code</label>
    <InputText id="code" @bind-Value="Semester.Code" />

    <label for="date">Semester Date</label>
    @*<InputText id="date" @bind-Value="Semester.Date.ToString()"/>*@
    @if (Semester.ModuleRuns == null) { return; }

    @foreach (var MR in Semester.ModuleRuns)
    {
        <label for="id">place</label>
        <InputText id="place" @bind-Value="MR.Place" />
    }
    <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>

<MatButton Outlined="true" @onclick="@(e=>openModules())">Modules view</MatButton>


    @if (showModuleRunTable)
    {

        <MatTable Items="@Semester.ModuleRuns" class="mat-elevation-z5"
                  FilterByColumnName="Module-Title">
            <MatTableHeader>

                <th>Module</th>
                <th>Module-Title</th>
                <th>Group</th>
                <th>Place</th>
                <th>Total Hours</th>
                <th>Lecturer</th>
                
                <th>Actions</th>



            </MatTableHeader>

            <MatTableRow>


                @*@foreach (var mr in Semester.ModuleRuns)
        {
        <td><MatTextField @bind-Value="mr.Module.Code"></MatTextField></td>
        <td><MatTextField @bind-Value="mr.Module.Title"></MatTextField></td>
        <td><MatTextField @bind-Value="mr.Code"></MatTextField></td>
        <td><MatTextField @bind-Value="mr.Place"></MatTextField></td>

        }*@

                <td><MatTextField @bind-Value="context.Module.Code"></MatTextField></td>
                <td><MatTextField @bind-Value="context.Module.Title"></MatTextField></td>
                <td><MatTextField @bind-Value="context.Code"></MatTextField></td>
                <td><MatTextField @bind-Value="context.Place"></MatTextField></td>
                <td><MatTextField @bind-Value="context.Module.TotalHours"></MatTextField></td>


                <td>
                    <MatButton Raised="true" Icon="add" title="Add lecturer"></MatButton>
                    @foreach (var mr in context.LecturersMR)
                        {

                        <p>

                            <MatTextField @bind-Value="mr.Lecturer.FirstName" Label="@mr.Lecturer.FirstName" Outlined="true"></MatTextField>


                        </p>
                        }

                </td>
                <td><MatButton type="submit" name="HandleValieSubmit" @onclick="HandleValidSubmit">OK</MatButton></td>
















            </MatTableRow>

        </MatTable>
  

}
<MatButton OnClick="BackHome">Back</MatButton>
<p>
    <MatTextField @bind-Value="@Semester.Code" Label="Standard" Outlined="true"></MatTextField>
</p>
@code {
    #region Variables
    bool dialogIsOpen = false;
    bool _isEdit = false;

    bool showModuleRunTable = false;

    #endregion

    #region dialog box methods

    private void openDialog(bool isEdit)
    {
        if (!_isEdit) Semester = new Semester();
        dialogIsOpen = true;
    }
    public bool openModules()
    {
        if (showModuleRunTable == false)
        {
            return showModuleRunTable = true;
        }
        return showModuleRunTable = false;
    }

    #endregion




    public void BackHome()
    {
        NavigationManager.NavigateTo("/home");
    }







}
