@page "/editplan/{id}"
@page "/editplan"
@using MatBlazor;
@*@using Plana.Models;*@
@using Plana.Web.Pages.plan.study_director;

@inject IJSRuntime js

@inherits EditPlanBase
@if (Plan == null || Plans == null) { return; }
@*@if (Plan.AutumnSemester == null) { return; }
    @if (Plan.AutumnSemester.ModuleRuns == null) { return; }*@


<h3>EditPlan</h3>

<EditForm Model="@Plan" OnInvalidSubmit="HandleValidSubmit">
    <div class="form-group row">

        <InputText id="year" @bind-Value="Plan.Year" />
    </div>





    table
    @*@if(showModulesPlanTable)*@

</EditForm>


<!--<MatTable Items="@Plan.PlanLecturers" class="mat-elevation-z3"
          FilterByColumnName="Module-Title">
    <MatTableHeader>
        <th>SemesterId</th>
        <th>Semester</th>
        <th style="width:100%; height:20%;">Details</th>-->
@*<th>Module</th>
    <th>Module Title</th>
    <th>Module-Group</th>
    <th>Place</th>
    <th>Module Total Hours</th>
    <th>Lecturers Group</th>
    <th>Lecturers</th>
    <th>Set Lecturers hours</th>
    <th>Actions</th>
    <th>notes</th>*@

<!--</MatTableHeader>
<MatTableRow Context="context2">
    @if (Plan.PlanLecturers != null)
    {
        <td>@context2.Lecturer.FirstName</td>
        <td>@context2.Lecturer.BirthDate</td>
    }
</MatTableRow>-->
@*<MatTableRow>
        <td></td>
        @if (Plan.AutumnSemester != null)
        {
            <td>@Plan.AutumnSemester.Code</td>
            @if (Plan.AutumnSemester.ModuleRuns != null)
            {
                @foreach (var MR in Plan.AutumnSemester.ModuleRuns)
                {
                    <td>@MR.Module.Code</td>
                    <td>@MR.Module.Title</td>
                    <td>@MR.ModuleGroup</td>
                    <td>@MR.Place</td>
                    <td>@MR.Module.TotalHours</td>

                    <td>@MR.ModuleRunLecturerGroups</td>

                    @foreach (var lmr in MR.LecturersMR)
                    {
                        <p>
                            <MatTextField @bind-Value="lmr.Lecturer.FirstName" Label="@lmr.Lecturer.FirstName" Outlined="true"></MatTextField>
                            <MatButton Raised="true" Icon="add" title="Add lecturer"></MatButton>

                        </p>
                        <td>@lmr.Hours</td>
                    }
                }
            }
        }
        <td>
            <MatButton Raised="true" @onclick="HandleValidSubmit" Icon="edit" title="Edit plan"></MatButton>
            <MatButton Raised="true" @onclick="HandleValidSubmit" Icon="save" title="Save"></MatButton>
            <form>
                <MatButton type="submit" name="HandleValidSubmit" @onclick="HandleValidSubmit">OK</MatButton>
            </form>
        </td>
        <td>
        </td>

    </MatTableRow>*@


<!--</MatTable>-->

@if (Plan == null)
{
    <text>Loading...</text>
}
else
{

    @*<table class="table" itemscope="@Plan" itemid="@Plan.Id">*@
    <table class="table">
        <thead>
            <tr>
                
                
                <th>Semester</th>
                <th>Module</th>
                <th >Module Title</th>
                <th>Module-Group</th>
                <th>Place</th>
                <th>Module Total Hours</th>
                <th>Lecturers Group</th>
                <th>Lecturers</th>
                <th>Set Lecturers hours</th>
                <th>Actions</th>
                <th>notes</th>
            </tr>
            
        </thead>
        <tbody>

            @if (Semesters != null)
            {


                @foreach (var sem in Semesters)
                {


                    @if (sem.ModuleRuns != null)
                    {
                        @foreach (var mr in sem.ModuleRuns)
                        {
            <tr>
                <td>@sem.GetAbbreviation()</td>

                <td contenteditable='false'>@mr.Module.Code</td>
                <td>@mr.Module.Title</td>
                <td>@mr.ModuleGroup</td>
                <td>@mr.Place</td>
                <td>@mr.Module.TotalHours</td>
                <td>
                    <button class="btn" id="add"><i class="fa fa-plus"></i></button>
                    @if (mr.ModuleRunLecturerGroups != null)
                    {

                        @foreach (var lg in mr.ModuleRunLecturerGroups)
                        {
                            <p style="white-space:nowrap;">
                                @lg.LecturerGroup.Title
                                <button class="btn" id="del"><i class="fa fa-close"></i></button>
                            </p>
                        }
                    }
                    </td>
                
                    @if (mr.LecturersMR != null)
                    {
                        <td style="white-space:nowrap;">
                            <button class="btn" id="add"><i class="fa fa-plus"></i></button>
                            @foreach (var lm in mr.LecturersMR)
                            {
                                <p style="white-space:nowrap;">
                                    @lm.Lecturer.SetToken()
                                    <button class="btn" id="del"><i class="fa fa-close"></i></button>
                                </p>


                            }

                        </td>
                        <td contenteditable='true'>
                            @foreach (var lm in mr.LecturersMR)
                            {

                                <p contenteditable='true'> @lm.Hours</p>

                            }
                        </td>
                    }
                    <td style="white-space:nowrap;">
                        <button  class="btn" disabled id="edit-btn" @onclick="HandleValidSubmit">edit</button>
                        <button class="btn" hidden id="save-btn" @onclick="HandleValidSubmit">save</button>

                     </td>
                    <td><textarea>...</textarea></td>



                </tr>
                        }

                    }

                    @*<a class="btn btn-success">Edit</a>
                    <button class="btn btn-danger">Delete</button>*@


                }
            }

                </tbody>
    </table>


}
@code {
   
    //[Inject]
    //public IPlanService PlanService { get; set; }

    //public Plan Plan { get; set; } = new Plan();

    //public List<Plan> Plans { get; set; } = new List<Plan>();

    //[Parameter]
    //public string Id { get; set; }

    //protected async override Task OnInitializedAsync()
    //{
    //    int.TryParse(Id, out int planId);

    //    if (planId != 0)
    //    {
    //        Plan = await PlanService.GetPlan(int.Parse(Id));
    //    }

    //    else
    //    {
    //        Plan = new Plan { };



    //    }
    //    Plans = (await PlanService.GetPlans()).ToList();

    //}

    //protected async Task HandleValidSubmit()
    //{
    //    Plan result = null;
    //    if (Plan.Id != 0)
    //    {
    //        await PlanService.UpdatePlan(Plan);
    //    }
    //    else
    //    {
    //        result = await PlanService.CreatePlan(Plan);
    //    }

    //}
}
<style>
    .table {
        font-family: 'ArialMT', 'Arial';
        font-weight: 400;
        font-style: normal;
        font-size: 13px;
        letter-spacing: normal;
        color: #333333;
        vertical-align: none;
        text-align: center;
        line-height: normal;
        text-transform: none;
    }
        .table th {
            /*padding: 2px;*/
            text-align: left;
            
        }
    .table tr {

    }
   .table  td {
        text-align: center;
    }
    .table tr:hover {
        background-color: #efeacf;
    }


    .btn {
        background-color: white;
        border: none;
        
        padding: 6px 8px;
        font-size: 11px;
        cursor: pointer;
    }
    #del {
        color: #d24141;
    }
    #add {
        color: #1919aa
    
    }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: #b2acb2;
        }
</style>