@page "/editplan/{id}"
@page "/editplan"
@using MatBlazor;
@*@using Plana.Models;*@
@using Plana.Shared;
@using Plana.Web.Pages.plan.study_director;

@inject IJSRuntime js

@inherits EditPlanBase
@if (Plan == null || Plans == null) { return; }


<Plana.Web.Pages.template_components.CustomSelect/>

    <div class="btn-group">
        <button id="addNewModule" @onclick="@(e=>OpenDialogMNew(false))" style="float: right;">Add Module</button>
        <button @onclick="@(e=>OpenDialog(false))" style="float: right;">last year plan</button>
    </div>

    <div class="btn-groupR">
        <button>Share with professors on @Plan.PublishDateForProfessors </button>
        <button>Official publish on @Plan.OfficialPublishDate</button>

    </div>

    @*<button class="btn btn-primary" @onclick="CallJSMethod">show</button>*@


@*Modules Table*@

@if (Plan == null)
{
    <text>Loading...</text>
}
else
{

    @*<table class="table" itemscope="@Plan" itemid="@Plan.Id">*@
    <table class="table">
        <thead>
            <tr>


                <th>Semester</th>
                <th>Module</th>
                <th>Module Title</th>
                <th>Module-Group</th>
                <th>Place</th>
                <th>Module Total Hours</th>
                <th>Lecturers Group</th>
                <th>Lecturers</th>
                <th>Set Lecturers hours</th>
                <th>Actions</th>
                <th>notes</th>
            </tr>

        </thead>
        <tbody>

            @if (Semesters != null)
            {


                @foreach (var sem in Semesters)
                {

                    @*fix it , the problem is that when the sem == null, program is break up*@
                    @*@if (sem.ModuleRuns == null) { return; }*@


                    @if (sem.ModuleRuns == null) { return; }
                    @foreach (var mr in sem.ModuleRuns)
                    {
                       
                        SelectedModuleRun = mr;
                        int local = mr.ModuleRunId;



                   @*<tr>
                        <td>

                            <button contenteditable="true">
                                @mr.Module.Title
                            </button>

                        </td>
                    </tr>*@

            <tr>
                <td><input Id="mr" @bind="mr.ModuleRunId" /></td>
                <td>@sem.GetAbbreviation()</td>

                <td contenteditable='true'>@mr.Module.Code</td>
                <td>@mr.Module.Title</td>
                <td>@mr.ModuleGroup</td>
                <td contenteditable="true">@mr.Place</td>
                <td contenteditable="true">@mr.Module.TotalHours</td>
                <td>

                    @if (mr.ModuleRunLecturerGroups != null)
                    {

                        @foreach (var lg in mr.ModuleRunLecturerGroups)
                        {
                            <p style="white-space:nowrap;">
                                @lg.LecturerGroup.Title
                                <button class="btn" id="del"><i class="fa fa-close"></i></button>
                            </p>
                        }
                    }
                    <button class="btn" id="add"><i class="fa fa-plus"></i></button>
                    @*<button class="btn" id="add" @onclick="@(e => OpenLecturerGDialog(false))"><i class="fa fa-plus"></i></button>*@
                </td>

                @if (mr.LecturersMR != null)
                {

                    <td style="white-space:nowrap;">

                        <div id="scroll">
                            @foreach (var lm in mr.LecturersMR)
                            {

                                <p style="white-space:nowrap;">
                                    @lm.Lecturer.SetToken() | @lm.Hours
                                    <button class="btn"  id="del" @onclick="@(e=>LecturerModuleRunService.DeleteLecturerModuleRun(lm.ModuleRunId,lm.LecturerId))"><i class="fa fa-close"></i></button>
                                </p>
                                @*<EditForm Model="@lm" visi*@

                            }
                            @*<div class="form-group row">
                        <div class="col-sm-10">
                            <InputSelect id="lecturer" @bind-Value="Lecturer.Id" class="form-control">
                                @foreach (var lecturer in Lecturers)
                                                    {
                                    <option value="@lecturer.Id">@Lecturer.FirstName</option>
                                                    }
                            </InputSelect>
                        </div>
                    </div>*@
                            <MatButton Outlined="true" @onclick="@(e=>OpenLecturerDialog(false , local))">Add</MatButton>
                            @*<button class="btn" id="add" @onclick="@(e => OpenLecturerDialog(false))"><i class="fa fa-plus"></i></button>*@
                        </div>
                    </td>
                    <td contenteditable='true'>
                        @foreach (var lm in mr.LecturersMR)
                        {

                            @*<p contenteditable='true'> @lm.Hours</p>*@
                            <MatTextField @bind-Value="lm.Hours"></MatTextField>
                            <MatButton type="submit" name="HandleValidSubmit" @onclick="@(e=>LecturerModuleRunService.UpdateLecturerModuleRun(lm))">OK</MatButton>
                            <p style="color:lightcoral;"> @lm.DesiredHours</p>
                        }

                    </td>
                }
                <td style="white-space:nowrap;" @onclick="CallJSMethod2">
                    <button class="btn" id="edit-btn">edit</button>
                    <button class="btn" id="save-btn">save lecturerModuleRun</button>
                    <button class="btn" id="save-btn">save</button>
                    <button class="btn" id="delete-btn">delete module</button>
                    <button class="btn" id="cancel-btn">cancel</button>
                    <MatButton Raised="true" @onclick="HandleValidSubmit" Icon="save" title="Save"></MatButton>
                    <MatButton Raised="true" @onclick="@(e=>OpenDialogM(true))" Icon="edit" title="Edit ModuleRun"></MatButton>
                    @*<EditForm Module="@mr">
             <InputText id="id" @bind-Value="mr.Module.Title" />
            </EditForm>*@

                    <MatDialog @bind-IsOpen="dialogIsOpenM">
                        <MatDialogTitle>Add / Edit Module</MatDialogTitle>
                        <MatDialogContent>
                            <MatTextField Label="Module Title" @bind-Value="@mr.Module.Title"></MatTextField>
                            <MatTextField Label="Place" @bind-Value="@mr.Place"></MatTextField>
                        </MatDialogContent>
                        <MatDialogActions>

                            <MatButton OnClick="okClickM">Add</MatButton>
                            <MatButton OnClick="CloseDialogM">Close</MatButton>

                        </MatDialogActions>
                    </MatDialog>







                </td>
                <td><textarea>...</textarea></td>

                @*in case of making row large*@
                @*<td width="500" height="300">
            <div style="width: 500px; height: 300px; overflow: auto">
                lots of data that exceeds the dimensions
            </div>
        </td>*@

            </tr>

                        /** dialog for lecturers*/

                        <MatDialog @bind-IsOpen="LdialogIsOpen">
                            <MatDialogTitle>Add Professor</MatDialogTitle>
                            <MatDialogContent Style="width: 200px; height: 200px; right: 50px">
                                @*<form>*@
                                <EditForm Model="@SelectedModuleRun">
                                    <InputText id="title" @bind-Value="SelectedModuleRun.Module.Title"></InputText>
                                    <select class="form-control" @bind="SelectedLecturer.Id">

                                        @foreach (var lecturer in Lecturers)
                                        {
                                            <option value="@lecturer.Id">
                                                @lecturer.SetToken()
                                            </option>
                                        }
                                    </select>
                                    <div class="btn-group">

                                        <button @onclick="@(e=>addLecturer(SelectedModuleRun.ModuleRunId,SelectedLecturer.Id))"> Add Professor</button>


                                    </div>
                                </EditForm>
                                @*</form>*@



                            </MatDialogContent>
                            <MatDialogActions>
                                <MatButton OnClick="okClickL">Add</MatButton>
                                <MatButton OnClick="CloseDialog">Close</MatButton>


                            </MatDialogActions>
                        </MatDialog>

                    }

                }

                @*<a class="btn btn-success">Edit</a>
            <button class="btn btn-danger">Delete</button>*@


            }


        </tbody>
    </table>





}

@*dialog for last year plan *@
<MatDialog @bind-IsOpen="dialogIsOpen">
    <MatDialogTitle>Add Plan</MatDialogTitle>
    <MatDialogContent Style="width: 750px;right:50px">
        @if (Plan == null)
        {
            <text>Loading...</text>
        }
        else
        {

            @*<table class="table" itemscope="@Plan" itemid="@Plan.Id">*@
            <table class="table">
                <thead>
                    <tr>


                        <th>Semester</th>
                        <th>Module</th>
                        <th>Module Title</th>
                        <th>Module-Group</th>
                        <th>Place</th>
                        <th>Module Total Hours</th>
                        <th>Lecturers Group</th>
                        <th>Lecturers</th>
                        <th>Set Lecturers hours</th>
                        <th>Actions</th>
                        <th>notes</th>
                    </tr>

                </thead>
                <tbody>

                    @if (Semesters != null)
                    {


                        @foreach (var sem in Semesters)
                        {

                            @*flix it , the problem is that when the sem == null, program is break up*@
                            @if (sem.ModuleRuns == null) { return; }


                            @if (sem.ModuleRuns == null) { return; }
                            @foreach (var mr in sem.ModuleRuns)
                            {
                                <tr>
                                    <td>

                                        <button contenteditable="true">
                                            @mr.Module.Title
                                        </button>

                                    </td>
                                </tr>

                                <tr>
                                    <td>@sem.GetAbbreviation()</td>

                                    <td contenteditable='true'>@mr.Module.Code</td>
                                    <td>@mr.Module.Title</td>
                                    <td>@mr.ModuleGroup</td>
                                    <td contenteditable="true">@mr.Place</td>
                                    <td contenteditable="true">@mr.Module.TotalHours</td>
                                    <td>

                                        @if (mr.ModuleRunLecturerGroups != null)
                                        {

                                            @foreach (var lg in mr.ModuleRunLecturerGroups)
                                            {
                                                <p style="white-space:nowrap;">
                                                    @lg.LecturerGroup.Title
                                                    <button class="btn" id="del"><i class="fa fa-close"></i></button>
                                                </p>
                                            }
                                        }
                                        <button class="btn" id="add"><i class="fa fa-plus"></i></button>
                                    </td>

                                    @if (mr.LecturersMR != null)
                                    {
                                        @*<MatButton Outlined="true" @onclick="@(e=>OpenLecturerDialog(false))">Add</MatButton>*@
                                        
                                        <td style="white-space:nowrap;">

                                            <div id="scroll">
                                                @foreach (var lm in mr.LecturersMR)
                                                {
                                                    <p style="white-space:nowrap;">
                                                        @lm.Lecturer.SetToken() | @lm.Hours
                                                        <button class="btn" disabled id="del"><i class="fa fa-close"></i></button>
                                                    </p>

                                                }
                                                @*<MatButton Outlined="true" @onclick="@(e=>OpenLecturerDialog(false))">Add</MatButton>*@
                                                @*<button class="btn" id="add" @onclick="@(e => OpenLecturerDialog(false))"><i class="fa fa-plus"></i></button>*@


                                            </div>

                                        </td>
                                        <td contenteditable='true'>
                                            @foreach (var lm in mr.LecturersMR)
                                            {

                                                <p contenteditable='true'> @lm.Hours</p>

                                            }
                                        </td>
                                    }
                                    <td style="white-space:nowrap;" @onclick="CallJSMethod2">
                                        <button class="btn" id="edit-btn">edit</button>
                                        <button class="btn" id="save-btn">save lecturerModuleRun</button>
                                        <button class="btn" id="save-btn">save</button>
                                        <button class="btn" id="delete-btn">delete module</button>
                                        <button class="btn" id="cancel-btn">cancel</button>
                                        <MatButton Raised="true" @onclick="HandleValidSubmit" Icon="save" title="Save"></MatButton>


                                    </td>
                                    <td><textarea>...</textarea></td>

                                    @*in case of making row large*@
                                    @*<td width="500" height="300">
            <div style="width: 500px; height: 300px; overflow: auto">
                lots of data that exceeds the dimensions
            </div>
        </td>*@

                                </tr>

                            }

                        }

                        @*<a class="btn btn-success">Edit</a>
                            <button class="btn btn-danger">Delete</button>*@


                    }


                </tbody>
            </table>





        }

    </MatDialogContent>
    <button type="submit" class="btn-btn-success">
        Copy to actual
    </button>
</MatDialog>


@*Dialog for the making a new module*@
<EditForm Model="@moduleRun" OnInvalidSubmit="@okClickM">
    <MatDialog @bind-IsOpen="dialogIsOpenMNew">
        <MatDialogTitle>Add Module</MatDialogTitle>
        <MatDialogContent Style="width: 500px;right:50px">
            <div class="form-group row">
                <label for="semester">Semester</label>
            </div>
            <div class="col-sm-10">
                <InputSelect id="semester" @bind-Value="@moduleRun.SemesterId" class="form-control">
                    @foreach (var sem in Semesters)
                    {
                        <option value="@sem.SemesterId">@sem.GetAbbreviation()</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group row">
                <label for="semester">Module Name</label>
            </div>
            <div class="col-sm-10">
                <InputSelect id="module" @bind-Value="@moduleRun.ModuleId" class="form-control">
                    @foreach (var module in Modules)
                    {
                        <option value="@module.ModuleId">@module.ModuleId | @module.Title</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group row">
                <label for="Place" class="col-sm-2 col-form-label">
                    Place
                </label>
                <div class="col-sm-10">
                    <InputText id="Place" class="form-control" placeholder="Place"
                               @bind-Value="@moduleRun.Place" />
                </div>
            </div>
            <div>
                Active<br />
                <MatCheckbox @bind-Value="@moduleRun.Editable" Label="@(ChangeLabel(ModuleRun.Editable))"></MatCheckbox>
            </div>
        </MatDialogContent>
        <MatButton type="submit" name="HandleValidSubmit" @onclick="@(e=>ModuleRunService.CreateModuleRun(moduleRun))">OK</MatButton>

        @*<div class="btn-group">*@
        <button type="submit" class="btn-btn-success">
            Add Module
        </button>
        @*</div>*@
    </MatDialog>
</EditForm>


@*dialog for moduleRun*@



@code {

    #region variables


    #endregion


    /// <summary>
    /// js code for button
    ///
    ///  </summary>

    protected override async void OnAfterRender(bool firstRender)
    {
        await js.InvokeVoidAsync("renderjQueryComponents");
        base.OnAfterRender(firstRender);

    }

    private async Task CallJSMethod()
    {

        //await JS.InvokeVoidAsync("CollapseTableRow");
        await js.InvokeVoidAsync("GetName");

    }
    private async Task CallJSMethod2()
    {
        await js.InvokeVoidAsync("SetButtonsVisible");
    }

    #region Last Year Plan

    #endregion
    #region Dialog Box Methods for Last Year Plan
    bool _isDelete = false;
    bool dialogIsOpen = false;
    bool _isEdit = false;
    private void OpenDialog(bool isEdit)
    {

        //if (!_isEdit) plan = new Plan();
        dialogIsOpen = true;
    }
    private void okCklick()
    {
        dialogIsOpen = false;

    }
    private void CloseDialog()
    {
        dialogIsOpen = false;
        LdialogIsOpen = false;
        dialogIsOpenM = false;
        dialogIsOpenMNew = false;

    }
    #endregion

    //#region New ModuleRun

    //bool dialogIsOpenM = false;
    //bool _isEditM = false;


    //private void OpenDialogM(bool isEditM)
    //{
    //    _isEditM = isEditM;
    //    dialogIsOpenM = true;

    //}

    //private void moduleOkClick()
    //{
    //    dialogIsOpenM = false;
    //}



    //async Task CreateModuleRun()
    //{

    //    await ModuleRunService.CreateModuleRun(ModuleRun);
    //    foreach (var sem in Semesters)
    //    {
    //        await SemesterService.UpdateSemester(sem);
    //    }

    //    dialogIsOpenM = false;
    //}



    //#endregion


    #region dialog for lecturers

    bool LdialogIsOpen = false;
    bool _isEditL = false;
    LecturerModuleRunDto newLmr = new LecturerModuleRunDto();
    ModuleRunDto SelectedMR { get; set; }
    public int ModuleRunId;



    private async Task OpenLecturerDialog(bool isEditL , int moduleRunId)
    {
        SelectedModuleRun =  await moduleRunService.GetModuleRun(moduleRunId);
        //SelectedMR.Id = moduleRun.Id;
        //SelectedMR =await ModuleRunService.GetModuleRun(id);
        _isEditL = isEditL;
        LdialogIsOpen = true;
    }
    private void okClickL()
    {
        //lmr.ModuleRunId = SelectedMR.Id;
        //lmr.LecturerId = SelectedLecturer.Id;

        //LecturerModuleRunService.CreateLecturerModuleRun(newLmr);
        LdialogIsOpen = false;
        // LecturerService.Add(selectedLecturer);
        // lecturerModuleRunService.update(LM);
    }
    private void LCloseDialog()
    {
        LdialogIsOpen = false;


    }

    async Task addLecturer(int moduleRunId, int lecturerId) {
        LecturerModuleRunDto lecturerModuleRun = new LecturerModuleRunDto()
        {
            LecturerId = lecturerId,
            ModuleRunId = moduleRunId
        };
        lecturerModuleRun =  await LecturerModuleRunService.CreateLecturerModuleRun(lecturerModuleRun);

        LdialogIsOpen = false;
    }
    #endregion

    #region moduleRun

    string labelName1 = "setEditable";
    string labelName2 = "Disable";


    string ChangeLabel(bool val)
    {
        return !val ? labelName1 : labelName2;
    }

    [Inject]
    public IModuleRunService moduleRunService { get; set; }

    ModuleRunDto moduleRun = new ModuleRunDto();
    ModuleRunDto SelectedModuleRun { get; set; } = new ModuleRunDto();
    bool dialogIsOpenM = false;
    bool dialogIsOpenMNew = false;
    bool _isEditM = false;

    bool snackBarM = false;

    #region Methods



    private void DeleteModuleRun()
    {

        snackBarM = true;
    }
    #endregion

    #region Dialog Box Methods
    private void OpenDialogM(bool isEditM)
    {
        _isEditM = isEditM;
        dialogIsOpenM = true;
    }
    private void OpenDialogMNew(bool isEditM)
    {
        _isEditM = isEditM;
        dialogIsOpenMNew = true;
    }
    private async void okClickM()
    {
        dialogIsOpenM = false;
        dialogIsOpenMNew = false;
        //if (moduleRun.ModuleRunId != 0)
        //{
        //    await ModuleRunService.UpdateModuleRun(moduleRun);
        //}
        //else {
        //    moduleRun = await ModuleRunService.CreateModuleRun(moduleRun);
        //}
       
            await ModuleRunService.UpdateModuleRun(moduleRun);
        
   }
    private void CloseDialogM()
    {
        dialogIsOpenM = false;
        dialogIsOpenMNew = false;

    }




    #endregion


    #endregion
}

        <style>
            /*.table {
                font-family: 'ArialMT', 'Arial';
                font-weight: 400;
                font-style: normal;
                font-size: 13px;
                letter-spacing: normal;
                color: #333333;
                vertical-align: none;
                text-align: center;
                line-height: normal;
                text-transform: none;
            }

                .table th {*/
                    /*padding: 2px;*/
                    /*text-align: left;
                }

                .table tr {
                }

                .table td {
                    text-align: center;
                }

                .table tr:hover {
                    background-color: #d1cfcf;
                }


            .btn {
                background-color: white;
                border: none;
                padding: 3px 4px;
                font-size: 9px;
                cursor: pointer;
            }

            #del {
                color: #d24141;
            }

            #add {
                color: #1919aa
            }

            #delete-btn, #save-btn, #cancel-btn {
                display: none;
            }*/
            /* Darker background on mouse-over */
            /*.btn:hover {
                background-color: #b2acb2;
            }

            #scroll td {
                width: 500px;
                height: 300px;
                overflow: auto;
            }*/
        </style>
