@page "/lectmoduleslist"
@inherits DisplayLecturerWithModuleBase

@if (LM == null)
{ return ; }
<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Module Code</th>
            <th>Module Title</th>
        </tr>
    </thead>






<tbody>
    @foreach (var lm in LM)
    {
    <tr class="@GetClass(lm.Module.Title)">
        <td>@lm.Lecturer.Id</td>
        <td>@lm.Lecturer.FirstName, @lm.Lecturer.LastName </td>
        <td>@lm.Module.Code</td>
        <td>@lm.Module.Title</td>
    </tr>

    }
</tbody>

</table>
<div class="form-group">
    <label for"title">Title</label>
    <select name="title" class="form-control" @bind="SelectedTitle">
        <option disabled selected>Select Title</option>
        @foreach (string title in Titles) { 
            <option value="@title" selected="@(title == SelectedTitle)">
                @title
            </option>
        }
    </select>
</div>



@code {
    public string SelectedTitle { get; set; }

    public string GetClass(string title) =>
        SelectedTitle == title ? "bg-info text-white" : "";
    public IEnumerable<string> Titles => LM.Select(m => m.Module).Select(mn => mn.Title);


}
