@page "/lecturerdetails"
@page "/lecturerdetails/{id}"


@inherits LecturerDetailsBase


<h3>LecturerDetails</h3>

    <div class="row justify-content-center m-1">

        <div class="col-sm-7">
            <div class="card-header">
                <h1>@Lecturer.FirstName @Lecturer.LastName</h1>
            </div>

            <div class="card-body text-center">
              
                    <img class="card-img-top" src="@Lecturer.PhotoPath" />
                    

                    <h4>Lecturer Id :  @Lecturer.LecturerId</h4>
                    <h4>Email : @Lecturer.Email</h4>
                    <h4>Date of Birth : @Lecturer.BirthDate</h4>
                    @*<h4>Modules: @Lecturer.LecturersModules</h4>*@

                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary">Back</a>
                    <a href="@($"editlecturer/{Lecturer.LecturerId}")" class="btn btn-primary m-1">Edit</a>

                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
    </div>

